@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

    outline: none;
}

body {
    display: flex;
    justify-content: center
}

.container {
    width: 1200px;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-block: 40px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile span {
    display: inline-block
}

.profile-picture {
    border-radius: 15px;
    width: 40px;
    height: 40px;
    border: 3px solid #B6B6B6;
    background: #EEE;
    margin-right: 10px;
}

.nav-link {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color: #808080;
}

.nav-link li a:hover {
    color: #000;
    transition: 0.3s all;
}

form {
    margin-bottom: 40px;
}

.name {
    font-weight: 600;
}

.ID {
    font-size: 14px;
}

label span {
    color: #D60606;
}

.row {
    display: flex;
}

.input {
    margin-right: 30px;
}
.aadhar {
    width: 350px;
    height: 45px;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 5%;
    padding-inline: 8px;
    margin-top: 8px;
    margin-bottom: 40px;
    outline: none;
}

.rental {
    margin-bottom: 40px;
}

.drop-zone {
    width: 1200px;
    height: 440px;
    background: #D9D9D9;
    margin-top: 8px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
}

.drop-zone h1 {
    font-size: 64px;
    color: #B6B6B6;
}

.drop-zone h2 {
    font-size: 22.5px;
    color: #5bdd44;
}

.checkboxes {
    margin-left: 23px;
    display: flex;
}

.checkboxes input {
    width: 16px;
    height: 16px;
    accent-color: #EEE
}

.loan-segment, .policy-segment {
    width: 1055px;
    margin-top: 30px;
    margin-inline: auto;

    display: none;
}

.loan-segment input {
    margin-bottom: 30px;
}

.installmentDropZone {
    width: 1055px;
    height: 440px;
    background: #D9D9D9;
    margin-top: 8px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
}

.installmentDropZone h1 {
    font-size: 64px;
    color: #B6B6B6;
}

.installmentDropZone h2 {
    font-size: 22.5px;
    color: #5bdd44;
}

input[type="Submit"] {
    height: 45px;
    width: 185px;
    border: none;
    color: #FFF;
    background: #3C36EF;
    border-radius: 5px;
}